/* Style normalization */
@import "normalize.css";

/*
Fonts

font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');



/* Main containers */
body {
    background: #363636 url("../img/bg.webp") repeat fixed center top;
}

.wrapper {
    margin: 50px auto 30px auto;
    width: 60vw;
    max-width: 1200px;
    box-shadow: 10px 10px 40px rgb(154, 154, 154);
    border-radius: 15px 15px 5px 5px;
}

@media only screen and (max-width: 1080px) {
    /* For mobile phones: */
    .wrapper {
        width: 95vw;
    }
}



/* Header */
.main-head {
    width: 100%;
    background: #333;
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    box-sizing: border-box;
}

.main-head a {
    text-decoration: none;
    margin: 0 auto;
    display: block;
}

.main-head #logo {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 959px;
    max-height: 187px;
    margin: 0 auto;
    object-fit: contain;
}



/* Navigation */
.main-nav {
    background: #333;
    box-shadow: inset 0 -2px #F1EDE9;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-nav ul li {
    list-style: none;
}

.main-nav ul li a {
    color: #F1EDE9;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    display: block;
    padding: 10px 20px;
    box-sizing: border-box;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
    border-bottom: 4px solid #94ACD4;
    padding: 10px 20px 6px 20px;
    color: #c9d9f5;
    box-shadow: inset 0 -5px 4px -5px black;
}



/* Content section */
.content {
    width: 100%;
    min-height: 500px;
    background: #F1EDE9;
    padding: 15px 50px;
    box-sizing: border-box;
}

/* Text */
.content h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.content h1, h2 {
    text-align: center;
}

.content p {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-align: justify;
    line-height: 1.5em;
}

.content p, h3 {
    text-indent: 3rem;
}

.content span.bold {
    font-weight: bold;
}

.content span.italic {
    font-style: italic;
}

.content p.img_title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: italic;
    text-indent: 0;
}

/* Images */
.photo {
    display: block;
    margin: 30px auto 0 auto;
    max-height: 500px;
    max-width: 80%;
    object-fit: contain;
    box-sizing: border-box;
    border: 15px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #8a8a8a;
}

.photo:hover {
    transition: 200ms;
    box-shadow: 5px 5px 15px #8a8a8a;
}

.photo_b {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    object-fit: contain;
    box-sizing: border-box;
}


/* Footer */
.main-footer {
    width: 100%;
    background: #F1EDE9;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #94ACD4;
    padding: 10px 15px;
    box-sizing: border-box;
}

.main-footer h5 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
    color: #333333;
}